management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8083
  tomcat:
    threads:
      max: 500

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: alipay-service
  servlet:
    multipart:
      enabled: true
      max-request-size: 10MB
  cloud:
    nacos:
      discovery:
        server-addr: 172.16.4.136

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.31.241:3306/oomall?serverTimezone=GMT%2B8&useSSL=false
    username: dbuser
    password: 12345678
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 3
      min-idle: 3
      max-active: 10
      max-wait: 60000

      stat-view-servlet:
        login-username: admin
        login-password: 123456
        enabled: true
        url-pattern: /druid/*

      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 100
      validation-query: select 1

mybatis:
  type-aliases-package: cn.edu.xmu.oomall.alipay.model.po
  mapper-locations: classpath*:cn.edu.xmu.oomall.alipay.mapper/*.xml
  configuration:
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

pagehelper:
  helper-dialect: mysql

oomall:
  alipay:
    downloadurl: https://dwbillcenter.alipay.com/downloadBillFile